{%- liquid
  assign show_banner = section.settings.show_banner
  assign has_image = false

  assign banner_image = collection.image
  if collection.handle == 'all'
    assign banner_image = section.settings.banner_image
    assign banner_image_mobile = section.settings.banner_image_mobile
  endif
  if banner_image or banner_image_mobile
    assign has_image = true
  endif
-%}

{%- if show_banner and has_image -%}
  {%- render 'banner',
      image: banner_image,
      mobile_image: banner_image_mobile,
      desktop_height: section.settings.height,
      mobile_height: section.settings.height_mobile,
      transparent_header: true,
      heading: collection.title,
      text: collection.description,
      text_position: section.settings.banner_text_position,
      image_position: section.settings.image_position,
      color_text: section.settings.banner_color_text,
      color_overlay: section.settings.banner_color_overlay,
      overlay_opacity: section.settings.banner_overlay_opacity,
      unique: section.id,
      loading: 'eager'
  -%}
{%- else -%}
  <div class="page-title" data-banner-content>
    <div class="container">
      <h1 class="page-title__heading">{{ page_title }}</h1>

      {%- unless collection.description == blank -%}
        <div class="page-title__text">{{ collection.description }}</div>
      {%- endunless -%}
    </div>
  </div>
{%- endif -%}


{% schema %}
  {
  "name": "Image with title",
  "settings": [
    {
      "type": "header",
      "content": "Catalog image"
    },
    {
      "type": "checkbox",
      "id": "show_banner",
      "label": "Show collection image as a banner",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Default image",
      "info": "Shows on collections/all"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Height",
      "options": [
        {
          "value": "one-hundred",
          "label": "Full screen"
        },
        {
          "value": "image-height",
          "label": "Image height"
        },
        {
          "value": "seven-fifty-height-hero",
          "label": "750px"
        },
        {
          "value": "sixty-fifty-height-hero",
          "label": "650px"
        },
        {
          "value": "five-fifty-height-hero",
          "label": "550px"
        },
        {
          "value": "four-fifty-height-hero",
          "label": "450px"
        }
      ],
      "default": "five-fifty-height-hero"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "image_picker",
      "id": "banner_image_mobile",
      "label": "Default mobile image",
      "info": "Shows on collections/all"
    },
    {
      "type": "select",
      "id": "height_mobile",
      "label": "Height",
      "default": "one-hundred-height-hero--mobile",
      "options": [
        {
          "value": "one-hundred-height-hero--mobile",
          "label": "Full screen"
        },
        {
          "value": "image-height--mobile",
          "label": "Image height"
        },
        {
          "value": "seven-fifty-height-hero--mobile",
          "label": "750px"
        },
        {
          "value": "sixty-fifty-height-hero--mobile",
          "label": "650px"
        },
        {
          "value": "five-fifty-height-hero--mobile",
          "label": "550px"
        },
        {
          "value": "four-fifty-height-hero--mobile",
          "label": "450px"
        }
      ]
    },
    {
      "type": "select",
      "id": "banner_text_position",
      "label": "Text position",
      "default": "center",
      "options": [
        { "label": "Left", "value": "left" },
        { "label": "Center", "value": "center" },
        { "label": "Right", "value": "right" },
        { "label": "Bottom left", "value": "bottom-left" },
        { "label": "Bottom right", "value": "bottom-right" }
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "banner_color_text",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "banner_color_overlay",
      "label": "Overlay",
      "default": "#333333"
    },
    {
      "type": "range",
      "id": "banner_overlay_opacity",
      "label": "Overlay opacity",
      "step": 5,
      "max": 95,
      "min": 0,
      "unit": "%",
      "default": 0
    }
  ]
}
{% endschema %}
